{% extends "base.html" %}
{% block content %}
    <h1>
        CHAD
    </h1>
    <h3>
        Position Search
    </h3>
    <body>
        Input an RA, DEC (in degrees) and search radius (in arcminutes).
    </body>

    <form action="{{url_for('results')}}" method=POST>
        <label for="ra">RA: </label>
        <input type="text" name="ra">
        <label for="dec">DEC: </label>
        <input type="text" name="dec">
        <label for="radius"> Search radius: </label>
        <input type="text" name="radius">
        <select name="cattype">
            <option value="component">component</option>
            <option value="island">island</option>
        </select>
        <br>
        <input type="checkbox" id="flux" name="flux">
        <label for="flux">Select only sources brighter than </label>
        <input type="text" name="min_flux" size="4">mJy
        <br>
        <input type="submit" value="Search">
    </form>

    <body>
        {% if search_error == True %}
        Invalid search, please try again!
        {% endif %}
    </body>
    
    <h3>Custom Search</h3>

{% endblock %}