{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            {% for col in colnames %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for elem in source %}
                <td>{{ elem }}</td>
            {% endfor %}
        </tr>
    </table>

    Other tables matching this source:<br>
    <body>
        {% for table in match_tables %}
            <a href="{{url_for('show', id=id, table=table)}}"> {{ table | capitalize}} </a>
        {% endfor %}
    </body>
    

{% endblock %}